### Propuesta de Ejercicios

**Ejercicio 1: Lectura de Datos de Múltiples Fuentes**

1.  Busca en internet un conjunto de datos público en formato CSV que te interese (por ejemplo, de deportes, cine, demografía...). Una buena fuente es [Kaggle](https://www.kaggle.com/datasets).
2.  Descarga el archivo CSV y cárgalo en un DataFrame de Pandas en tu notebook.
3.  Muestra las 10 primeras filas y la información general del DataFrame con `.info()`.
4.  Exporta ese mismo DataFrame a un archivo Excel llamado `mi_dataset.xlsx`.

**Ejercicio 2: Manejo de Parámetros de Lectura**

1.  Crea un archivo de texto llamado `datos_especiales.txt` con el siguiente contenido, usando punto y coma como separador:
    ```
    # Datos de sensores
    sensor_id;medida;unidad
    A01;23.5;C
    A02;24.1;C
    B01;68.0;%
    ```
2.  Utiliza `pd.read_csv()` para leer el archivo. Deberás usar los parámetros `sep` para indicar el separador y `comment` para ignorar las líneas que empiezan con `#`.
3.  Muestra el DataFrame resultante.

**Ejercicio 3: Exportación Selectiva**

1.  Usando el DataFrame del **Ejercicio 1**, selecciona solo las 3 primeras columnas.
2.  Exporta este subconjunto de datos a un nuevo archivo CSV llamado `dataset_reducido.csv`.
3.  Asegúrate de que el archivo exportado no contenga la columna de índice de Pandas.

## Ejercicio 1

In [6]:
import pandas as pd

df_cocodrile = pd.read_csv("crocodile_dataset.csv")
df_cocodrile.head(10)
df_cocodrile.info()

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...
5,6,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,2.64,137.4,Adult,Male,08-06-2023,India,Reservoirs,Vulnerable,Randy Brown,Source husband at tree note responsibility def...
6,7,Siamese Crocodile,Crocodylus siamensis,Crocodylidae,Crocodylus,2.85,157.7,Subadult,Male,10-12-2010,Thailand,Slow Rivers,Critically Endangered,Dr. Marvin Thomas Jr.,Much section investment on gun young catch man...
7,8,Congo Dwarf Crocodile,Osteolaemus osborni,Crocodylidae,Osteolaemus,0.35,4.7,Juvenile,Unknown,03-08-2008,Central African Republic,Forest Swamps,Data Deficient,Terri Frazier,Race Mr environment political born itself law ...
8,9,West African Crocodile,Crocodylus suchus,Crocodylidae,Crocodylus,3.05,201.2,Adult,Male,16-04-2020,Sudan,Lakes,Least Concern,Deborah Mason,Medical blood personal success medical current...
9,10,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,3.39,197.2,Adult,Male,21-05-2016,Mexico,Lagoons,Least Concern,Tamara George,Affect upon these story film around there wate...

In [4]:
import pandas as pd

df_cocodrile = pd.read_csv("crocodile_dataset.csv")
df_cocodrile.to_excel("my_dataset.xlsx", sheet_name="cocodrile", index=False)
print("DataFrame exportado a 'my_dataset.xlsx' en la hoja 'cocdrile'")

DataFrame exportado a 'my_dataset.xlsx' en la hoja 'cocdrile'

## Ejercicio 2

In [5]:
import pandas as pd

df_ejer2 = pd.read_csv("datos_especiales.txt", sep=";", comment="#")
df_ejer2

sensor_id medida  unidad
A01       23.5         C
A02       24.1         C
B01       68.0         %

## Ejercicio 3

In [20]:
import pandas as pd

df_cocodrile = pd.read_csv("crocodile_dataset.csv")
Three_columns = df_cocodrile.iloc[:,0:3]
Three_columns.to_csv("dataset_reducido.csv", index=False)
Three_columns = pd.read_csv("dataset_reducido.csv", index_col="Observation ID")
Three_columns

                                           Common Name         Scientific Name
Observation ID
1                                  Morelet's Crocodile    Crocodylus moreletii
2                                   American Crocodile       Crocodylus acutus
3                                    Orinoco Crocodile  Crocodylus intermedius
4                                  Morelet's Crocodile    Crocodylus moreletii
5                   Mugger Crocodile (Marsh Crocodile)    Crocodylus palustris
...                                                ...                     ...
996                             West African Crocodile       Crocodylus suchus
997                        Hall's New Guinea Crocodile        Crocodylus halli
998             West African Slender-snouted Crocodile  Mecistops cataphractus
999             West African Slender-snouted Crocodile  Mecistops cataphractus
1000                       Hall's New Guinea Crocodile        Crocodylus halli

[1000 rows x 2 columns]